.songblock {
    border: 2px solid Violet;
    margin-bottom: 15px;
}

.title {
    font-size: 18px;
}

.title span {
    font-size: 25px;
}

.votebtn {
    font-size: small;
}

@media screen and (max-width: 600px) {
    .songblock {
        margin-bottom: 10px;
    }
    
    .title {
        font-size: 15px;
    }

    .title span {
        font-size: 20px;
    }

    .votebtn {
        font-size: 10px;
    }
  }